################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/InstancePool/ConsoleApp/ConsoleApp1/bin
/InstancePool/ConsoleApp/.vs/ConsoleApp
/InstancePool/ConsoleApp/ConsoleApp1/obj/Release/net5.0
